@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

$font: "Readex Pro", serif;
$primary: #2B6F3E;
$dark: #202020;
$primary-light: #f8f8f8;
$secondary-light: #959595;

@mixin format-font($min, $med, $max, $weight) {
  font-size: clamp($min, $med, $max);
  font-weight: $weight;
}

@mixin d-flex ($direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin template-btn($px, $py, $color, $bg, $color-hover, $bg-hover, $border) {
  padding: $px $py;
  border: $border;
  border-radius: 8px;
  @include format-font(14px, 18px, 22px, 400);
  color: $color;
  background-color: $bg;
  transition: 200ms;
  &:hover {
    color: $color-hover;
    background-color: $bg-hover;
    cursor: pointer;
  }
}